<!DOCTYPE html>
<html>
<head>
  {% include "partials/meta.html" %}

  <title>{% block title %}{{ data.title }}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  {% for stylesheet in stylesheets %}
  <link rel="stylesheet" href="{{stylesheet}}"/>
  {% endfor %}
  <link href="/styles.css" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body class="w-100 sans-serif bg-white">
  <div id="wrapper">
    {% include "partials/sidebar.html" %}
    <main>
      <header>
        <input type="search" placeholder="" class="input">
        <nav>
          <ul>
            <li>
              <a href="https://github.com/eventil/eventil.com/issues">Support</a>
            </li>
        </nav>
      </header>
      <article>
        {% block content %}{% endblock %}
      </article>
    </main>
  </div>
  {% for javascript in javascripts %}
  <script type="text/javascript" src="{{ javascript }}"></script>
  {% endfor %}
  <script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
