{% extends "layouts/base.html" %}
{% block content %}
  <h1><b>Billing</b></h1>

<p align="justify">Billing lets you define the organization data for selling paid tickets.</p>
<p align="justify">Eventil provides the invoicing to sell tickets and for that purpose organization with a payment gateway connected to your event is required.
Payment gateway allows you to collect money. Currently you can connect Stripe as a payment gateway. Contact us at hello@eventil.com in order to
connect other gateways.</p>

{% endblock %}
