{% extends "layouts/base.html" %}
{% block content %}
<section>
  <h5 class="title is-4">Billing</h5>

<p align="justify">Billing lets you define the organization data for selling paid tickets.</p>
<p align="justify">Eventil provides the invoicing to sell tickets and for that purpose organization with a payment gateway connected to your event is required.
Payment gateway allows you to collect money. Currently you can connect Stripe as a payment gateway.</p>

<p align="justify">Contact us at hello@eventil.com in order to connect other gateways.</p>
</section>

{% endblock %}
