{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Custom Fields For Order</h5>
<p align="justify">Activate Order Custom Field to specify custom fields for your order form. They will show up during ticket purchase.</p>
</section>
<section>
<h5 class="title is-5">How to create custom fields?</h5>
<p align="justify">Go to "Custom Fields for Order" section in event management.</p>
<img src="/images/orders3.svg" alt="Custom-fields-photo"/>
<p align="justify">Click "Add Custom Field".</p>
<img src="/images/orders5.svg" alt="Custom-fields-photo"/>
<p align="justify">Choose the type of the field (checkboxes, questions, etc.) and enter the necessary information.</p>
<img src="/images/orders2.svg" alt="Custom-fields-photo"/>
<p align="justify">Typical fields can be "What's your t-shirt size?" or "What book are you reading currently/have you recently read?"</p>
</section>
<section>
<h5 class="title is-5">Terms and Conditions</h5>
<img src="/images/orders6.svg" alt="Custom-fields-photo"/>
<p align="justify">You can add terms and conditions which will be visible in tickets order.</p>
<img src="/images/orders4.svg" alt="Custom-fields-photo"/>
<p align="justify">Enter the information you need. You can use the "Required" checkbox to indicate if you want people to accept it obligatorily or not.</p>
{% endblock %}
