{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Orders</h5>
<p align="justify">In this section you can see orders of your tickets.</p>
</section>
<section>
<p align="justify">Orders are grouped into three groups:</p>
<ul>
<li><p align="justify">Successful orders</p></li>
<li><p align="justify">Unsuccessful orders</p></li>
<li><p align="justify">Correcting orders</p></li>
</ul>
<img src="/images/orders1.svg" alt="Orders-photo"/>
<p align="justify">You can then see all invoices, download xls file with orders' information and also print them.</p>
</section>
{% endblock %}
