{% extends "layouts/base.html" %}
{% block content %}
<section>
  <h5 class="title is-4">Email settings</h5>
<ul>
<li><p align="justify">Mailing - You will receive information from events admins. If you take part in an event and something is changed i.e. event place, hours etc., admins can inform the attendees via e-mails.</p></li>
<li><p align="justify">Remind - You will receive a reminder that the event you are an attendee of starts in two days.</p></li>
<li><p align="justify">Newsletter - You will receive e-mails with new events which may sound interesting to you.</p></li>
<li><p align="justify">Suggested Events - You will receive e-mails with events the people you follow are going to.</p></li>
<li><p align="justify">Upcoming Events - You will receive e-mails with proposed events matching your topics.</p></li>
<li><p align="justify">Follow - You will receive information that you have a new follower.</p></li>
</ul>
</section>
{% endblock %}
