{% extends "layouts/base.html" %}
{% block content %}
  <h1><b>Email settings</b></h1>

<p align="justify">Mailing - You will receive information from events admins. If you take part in an event and something is changed i.e. event place, hours etc., admins can inform the attendees via e-mails.</p>
<p align="justify">Remind - You will receive a reminder that the event you are an attendee of starts in two days.</p>
<p align="justify">Newsletter - You will receive e-mails with new events which may sound interesting to you.</p>
<p align="justify">Suggested Events - You will receive e-mails with events the people you follow are going to.</p>
<p align="justify">Upcoming Events - You will receive e-mails with proposed events matching your topics.</p>
<p align="justify">Follow - You will receive information that you have a new follower.</p>
<p align="justify">https://eventil.com/settings/email_settings</p>
{% endblock %}
