{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Email settings</h5>
<p align="justify">Here you can select types of information you want to receive on your e-mail.</p>
<img src="/images/email.svg" alt="Email-settings-photo"/>
</section>
<section>
<p align="justify">The list of types:</p>
<ul>
<li><p align="justify">Mailing - You will receive information from events admins. If you take part in an event and something is changed i.e. event place, hours etc., admins can inform the attendees via e-mails.</p></li>
<li><p align="justify">Remind - You will receive a reminder that the event you are an attendee of starts in two days.</p></li>
<li><p align="justify">Newsletter - You will receive e-mails with new events which may sound interesting to you.</p></li>
<li><p align="justify">Suggested Events - You will receive e-mails with events the people you follow are going to.</p></li>
<li><p align="justify">Upcoming Events - You will receive e-mails with proposed events matching your topics.</p></li>
<li><p align="justify">Follow - You will receive information that you have a new follower.</p></li>
</ul>
<p align="justify"><span class="tag is-success"><b>IMPORTANT!</b></span>  <small>Checkboxes are all selected from the very beginning. If you don't want to receive some types of information, you have to deselect it here.</small></p>
</section>
{% endblock %}
