@import url('https://fonts.googleapis.com/css?family=Lato:400, 700');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #373e42;
  line-height: 26px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #373e42;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin-bottom: 17px;
}

a {
  color: #117CB2;

}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  > .sidebar {
    position: absolute;
    padding-left: calc((100% - 994px) / 2);
    top: 0;
    bottom: 0;
    display: flex;
    flex: 0;
    flex-direction: column;
    align-items: flex-end;
    width: calc((100% - 994px) / 2 + 226px);
    min-width: 252px;
    background: #f8f8f9;
    border-right: 1px solid #e0e0e0;
    z-index: 5;

    .d-flex {
      display: flex;
      justify-content: flex-end;

      .sidebar-inner {
        padding: 20px;
        width: 280px;

        .menu-list li ul {
          margin-left: 0;
          border: none;
        }

        .menu-submenu {
          border: none;

          li {

            > a {
              padding: 0;
              margin-bottom: 5px;
              color: rgba(23,42,58,.7);
              font-size: 14px;
              font-weight: 400;
              text-transform: none;
            }
          }
        }

        > ul {
          position: absolute;
          margin-top: 50px;
          overflow-y: auto;
          height: calc(100vh - 150px);

          > ul {
            margin-left: 40px;

            &.d-none {
              display: none;
            }

            &.d-block {
              display: block;
            }
          }

          li {
            line-height: 28px;

            > ul {
              margin-left: 15px;
            }

            > a {
              padding-left: 0;
              margin-bottom: 12px;
              font-size: 15px;
              font-weight: 700;
              color: rgba(23,42,58,.5);
              text-transform: uppercase;

              img {
                margin-right: 15px;
                vertical-align: bottom;
              }

              &:focus,
              &:hover {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }

  > main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1050px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateZ(0);

      header {
        margin-left: calc((100% - 994px) / 2 + 226px);
        width: 770px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e0e0e0;

        .input {
          padding-left: 32px;
          height: 65px;
          border: none;
          background: white;
          box-shadow: none;
        }

        nav {
          flex: 0 0 200px;

          ul {
            display: flex;
            justify-content: flex-end;

            li {
              margin-left: 20px;
            }
          }
        }
      }

      > article {
        margin-left: calc((100% - 994px) / 2 + 226px);
        width: 770px;
        padding: 0 0 0 32px;
        flex: 1;
        order: 1;
        overflow: auto;

        > section {
          padding-top: 40px;
          padding-bottom: 23px;
          border-bottom: 1px solid #e0e0e0;

          .title {
            margin-bottom: 20px;
            font-weight: 400;

            .tag {
              margin-left: 15px;
              margin-top: -3px;
            }
          }

          .message {
            margin-bottom: 20px;
          }

          .part {
            padding: 15px 20px;
            border: 1px solid #e0e0e0;
            border-radius: 3px;

            &.part-events {

              .part-icon {

                img {
                  fill: #3498db;
                }
              }
            }

            .part-icon {
              margin-bottom: 15px;
              width: 72px;
              height: 72px;
              display: flex;
              border: 1px solid #e0e0e0;
              border-radius: 50%;
              justify-content: center;
              align-items: center;
            }

            .title {
              margin-bottom: 10px;
            }

            p {
              margin-bottom: 0;
              color: #373e42;
            }
          }

          ul {
            padding-left: 40px;
            margin-bottom: 20px;
            list-style-type: inherit;

            li {
              font-size: 15px;
              line-height: 26px;
            }
          }
        }
      }
    }
}

#footer {
  padding: 40px 0;

  .widget-title {
    margin-bottom:  20px;
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(23,42,58,.5);
  }

  ul {
    list-style: none;

    li {

      a {
        padding: 4px 0;
        display: block;
        color: rgba(23,42,58,.7);
      }
    }
  }
}