{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Agenda</h5>
<p align="justify">You can create an agenda for your event. Show the attendees what is the schedule. During creation you can choose kinds of sessions, their start and end time.</p>
</section>
<section>
<h5 class="title is-5">How to create an agenda?</h5>
<p align="justify">In Event Management go to "Agenda" section.</p>
<img src="/images/agenda1.svg" alt="Agenda-photo"/>
</p>Here you have an option to "Add new session". Just click it and you can start entering details.</p>
<img src="/images/agenda2.svg" alt="Agenda-photo"/>
</section>
<section>
</p>Here you can choose the day when a session takes place, enter start and end time and choose what kind of session it is.</p>
<img src="/images/kind.svg" alt="Kind-photo"/>
<p align="justify"><span class="tag is-success"><b>IMPORTANT</b></span>  <small>Keynotes are displayed on a main event page.</small></p>
<img src="/images/keynotes.svg" alt="Event-page-photo"/>
<p align="justify"><span class="tag is-success"><b>TIP</b></span>  <small>Sessions can be filtered by kinds in a created agenda.</small></p>
</section>
<section>
<p align="justify">If the event happens in more than one room, it is good to fill in the "Track" field to let people know where they can find sessions they are interested in.</p>
<img src="/images/track.svg" alt="Track-photo"/>
<p align="justify"><span class="tag is-success"><b>TIP</b></span>  <small>Sessions can be filtered by tracks in a created agenda.</small></p>
</section>
<section>
<p align="justify">You can choose sessions from the existing list of presentations on your event in "Participation" field or name them on your own in "Name" field.</p>
<p align="justify"><span class="tag is-success"><b>REMEBER</b></span>  <small>Each session has to entered separately.</small></p>
</section>

{% endblock %}
