{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Agenda</h5>

  <p align="justify">Here you can create an agenda for your event.</p>
<p align="justify">Show the attendees what is the schedule. During creation you can choose kinds of sessions, their start and end time.</p>
<p align="justify">If the event happens in more than one room, it is good to fill in the Track field to let people know where they can find sessions they are interested in.</p>
<p align="justify">You can choose sessions from the existing list of presentations on your event or name them on your own.</p>
</section>
<img src="/images/agenda.svg" alt="Agenda-photo" />

{% endblock %}
