{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Cooperations</h5>
<p align="justify">You can choose with which groups you want to cooperate on your event. You don't have to manage everything on your own. By default event creator is the one that can manage the event. You can easily modify this by cooperation with group. After you pick groups you would like to cooperate and submit request, one of group aministrators will have to accept it. When it is done all group(s) administrators will be given access to your event management. The restult of accepted cooperation is visible on the event page - all event administrators will be listed there with all cooperating groups below.</p>
<p align="justify"><span class="tag is-success"><b>Remember</b></span>  <small>Cooperation can be cancelled at any time.</small></p>
</section>
<section>
<h5 class="title is-5">How to create a cooperation?</h5>
<p align="justify">Go to "Cooperation" section.</p>
<img src="/images/coo1.svg" alt="Cooperation-photo"/>
<p align="justify">Enter the group name (it has to already exist in Eventil) and click "Request".</p>
<p align="justify">Groups can be browsed on <a target="_blank" href="https://eventil.com/groups">https://eventil.com/groups.</a></p>
<img src="/images/coo2.svg" alt="Cooperation-photo"/>
<p align="justify">Mail with request for cooperation has been sent to the group's admins.</p>
</section>
<section>
<h5 class="title is-5">How to accept a cooperation?</h5>
<p align="justify">Go to your profile's settings.</p>
<img src="/images/coo3.svg" alt="Cooperation-photo"/>
<p align="justify">Go to "Your Groups" and choose the group.</p>
<img src="/images/coo4.svg" alt="Cooperation-photo"/>
<p align="justify">Click "Manage" and go to "Cooperations" section.</p>
<img src="/images/coo5.svg" alt="Cooperation-photo"/>
<p align="justify">Here you see all sent requests for cooperations. Click "Accept" and the cooperation will be added. The event will be added to the group’s events.</p>
</section>
<section>
<h5 class="title is-4">Remember</h5>
<ul>
  <li>Admins from chosen groups become admins of your event after request is accepted.</li>
  <li>If administrator is removed from group, he/she is be also removed from event administrators.</li>
  <li>If coopearation is cancelled all group aministrators are removed from event administrators.</li>
</ul>
</section>
{% endblock %}
