{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Cooperations
<span class="tag is-success">Cooperate with groups on your event</span></h5>
<p align="justify">Add groups with which you want to cooperate on your event.</p>

<p align="justify">Here you can choose with which groups you want to cooperate on your event.</p>

<p align="justify">You don't have to manage everything on your own. By default event creator is the one that can manage the event. You can easily modify this by cooperation with group.</p>

<p align="justify">After you pick groups you would like to cooperate and submit request, one of group aministrators will have to accept it. When it is done all group(s) administrators will be given access to your event management.</p>

<p align="justify">The restult of accepted cooperation is visible on the event page - all event administrators will be listed there with all cooperating groups below.</p>

<p align="justify">Cooperation can be cancelled any time.</p>

<p align="justify">Groups can be browsed on https://eventil.com/groups.</p>
</section>
<section>
<h5 class="title is-4">Remember</h5>
<ul>
  <li>Admins from chosen groups become admins of your event after request is accepted.</li>
  <li>If administrator is removed from group, he/she is be also removed from event administrators.</li>
  <li>If coopearation is cancelled all group aministrators are removed from event administrators.</li>
</ul>
</section>
<img src="/images/cooperations.svg" alt="Cooperations-photo" />
{% endblock %}
