{% extends "layouts/base.html" %}
{% block content %}
  <h1><b>Event details</b></h1>

<p align="justify">VENT NAME → Enter the name of your event. Give your potential attendees quick information on what the event is about. Make it catchy to draw huge audience.</p>

<p align="justify">URL, TWITTER → Enter any extra web address for your event, webpage or group.</p>

<p align="justify">TWITTER → Only handle without @ sign</p>

<p align="justify">SLUG → Get the web address for your event!</p>

<p align="justify">STARTS AT, ENDS AT → Enter start and ending dates so the attendees know when your event takes place.</p>
<p align="justify">ADDRESS → Enter the city or more exact address for your event. Location is important for people so precise it.</p>

<p align="justify">PLACE NAME → Enter the name of a lecture room, cafe etc. where you are going to make the event so your attendees know what to expect and what they should bring with them.</p>

<p align="justify">DESCRIPTION → Write more about your event: what it is about, how long it will take place, why you organize it, who will give talks, what is the purpose of your action etc. The more you write, the more people will know about. They will feel welcome to come.</p>

<p align="justify">ADD POSTER → Add a photo or picture for your event. A lot of people pay more attention to events with visual elements.</p>

<p align="justify">TOPIC LIST → Let the attendees know about your primary languages for the event.</p>

<p align="justify">UPDATE → Click CREATE and it's done!</p>
{% endblock %}
