{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Your Groups</h5>
<p align="justify">Here you can find a list of all groups you manage and create a new one.</p>
<img src="/images/yourgroups.svg" alt="Your-groups-photo"/>
</section>
<section>
<h5 class="title is-5">How to create a new group?</h5>
<p align="justify">Click "Add Group" and enter the necessary information.</p>
<img src="/images/creategroup.svg" alt="Create-group-photo"/>
<p align="justify"><b>Step 1: Group name</b></p>
<p align="justify">Enter the name of your group.</p>
<p align="justify"><b>Step 2: Description</b></p>
<p align="justify">Provide a short description on what your group does, what its aim is, etc.</p>
<p align="justify"><b>Step 3: Details</b></p>
<p align="justify">Add additional information:</p>
<ul>
  <li><p align="justify">Website - if your group has a website, enter its url.</p><p align="justify"><span class="tag is-success"><b>IMPORTANT!</b></span>  <small>With "http://"</small></p></li>
  <li><p align="justify">Twitter - provide your group's Twitter handle.</p><p align="justify"><span class="tag is-success"><b>IMPORTANT!</b></span>  <small>Only handle without "@" sign</small></p></li>
  <li><p align="justify">Hashtag - type in a hashtag for your group.</p></li>
  <li><p align="justify">Contact Email - enter your group's email so as people can contact you easily.</p></li>
</ul>
<p align="justify"><b>Step 4: Avatar</b></p>
<p align="justify">Add an avatar for your group.</p>
<p align="justify"><b>Step 5: Create</b></p>
<p align="justify">Click “Create” and it’s ready.</p>
</section>
{% endblock %}
