{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Your Organizations</h5>
<p align="justify">On this page we display organizations you use for event organization and event sponsorship. If you haven't created any organization yet, you can do it here.</p>
<img src="/images/yourorganizations.svg" alt="Your-organizations-photo"/>
</section>
<section>
<h5 class="title is-5">How to create an organization?</h5>
<p align="justify">Click "Create New Organization" and enter the necessary information.</p>
<img src="/images/createorganization.svg" alt="Create-organization-photo"/>
<p align="justify">Enter the name and VAT ID of your organization. These two points are required. Without that you won't be able to create and sell paid tickets. The rest of information is not required but is welcome.</p>
<p align="justify">You can simply create your organization or connect it to Stripe straight away to have the possibility to sell tickets.</p>
</section>
{% endblock %}
