{% extends "layouts/base.html" %}
{% block content %}
<section>
  <h5 class="title is-4">Call For Proposals</h5>

  <p align="justify">Call For Proposals settings enable event organizers to easily manage their call for proposals and talk submissions.</p>
<p align="justify">You don't have to rely on tools such as Google Forms, WuFoo Forms and other!</p>
</section>
<section>
<h5 class="title is-5">How to create CFP on Eventil?</h5>
<p align="justify">Go to "Call for Proposals" section.</p>
<img src="/images/cfp1.svg" alt="CFP-photo"/>
<p align="justify">Write a description. It will be visible to your potential speakers. Set the start and end date and it’s done.</p>
</section>
<section>
<h5 class="title is-5">Custom fields</h5>
<p align="justify">If you want to get some extra information from potential speakers, use "Custom fields" for CFP.</p>
<img src="/images/cpf2.svg" alt="CFP-photo"/>
<p align="justify">Click "Add custom field", choose the type of the field (checkboxes, questions etc.) and enter the necessary information.</p>
<img src="/images/cfp3.svg" alt="CFP-photo"/>
</section>
<section>
<h5 class="title is-5">Checkboxes</h5>
<p align="justify"><b>1. CFP Always Open</b></p>
<p align="justify">If checked Call For Proposal url and submission will always be available. This setting doesn't affect CFP info box on the event page. Info box display is based on START/END dates.</p>
<p align="justify"><b>2. Code of Conduct</b></p>
<p align="justify">If checked the Code of Conduct will show on CFP page for speaker's submission.</p>
<p align="justify"><b>3. Ideas Enabled</b></p>
<p align="justify">If checked logged in users can submit their ideas for presentations. You will find out what people are interested in and what they expect from your event's talks or workshops. Ideas are votable.</p>
<p align="justify">Ideas can be submitted at https://eventil.com/events/EVENT_SLUG/ideas</p>
<img src="/images/ideas1.svg" alt="Ideas-photo"/>
<p align="justify">Here, by clicking "New Idea", users can add their ideas.</p>
<img src="/images/ideas2.svg" alt="Ideas-photo"/>
<p align="justify">When someone adds a new idea, the section "Presentation Ideas" will appear in your event management.</p>
<img src="/images/ideas3.svg" alt="Ideas-photo"/>
<p align="justify">In this section you can see what the ideas are and how many people voted for a specific idea.</p>
<img src="/images/ideas4.svg" alt="Ideas-photo"/>
</section>
<section>
<h5 class="title is-5">CFP is ready</h5>
<p align="justify">You can find submitted proposals in Presentations part.</p>
</section>
<img src="/images/cpv.svg" alt="Callforproposals-photo"/>
</section>
<section>
<p align="justify"><span class="tag is-success"><b>WORTH KNOWING</b></span>  <small>Once the CFP is ended, you can create Voting.</small></p>
</section>
<section>
<h5 class="title is-5">Your own CFP</h5>
<p align="justify">If you prefer to use your own external CFP, you can add a link to it.</p>
<img src="/images/cfp4.svg" alt="CFP-photo"/>
</section>
{% endblock %}
