{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Labels</h5>
<p align="justify">Here you can create labels which you can later use to mark presentations.</p>
</section>
<section>
<h5 class="title is-5">How to create a label?</h5>
<p align="justify">Go to "Labels" section.</p>
<img src="/images/label1.svg" alt="Labels-photo"/>
<p align="justify">Click "New label", enter its name and click "Create label".</p>
<img src="/images/label2.svg" alt="Labels-photo"/>
</section>
<section>
<p align="justify">After creating all necessary labels you can use them with presentations in "Presentations" section.</p>
</section>
{% endblock %}
