{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Mailings</h5>
<p align="justify">Do you plan to change an event location? Or you have a very important information to communicate? Mailing is an easy and quick way to keep in touch with your event audience.</p>
</section>
<section>
<h5 class="title is-5">How to create mailings?</h5>
<p align="justify">Go to "Mailings" section.</p>
<img src="/images/mailing1.svg" alt="Mailing-photo"/>
<p align="justify">Click “Add Mailing”.</p>
<img src="/images/mailing2.svg" alt="Mailing-photo"/>
<p align="justify">The name of your event will automatically appear in the “Name” field (we advise you to leave it that way - the recipients will know which event this mailing concerns).</p>
<p align="justify">Choose the reply-to email (your current account email will appear in the field automatically but you can change it to any other email) and enter your mailing subject (i. e. Event location changed).</p>
 <p align="justify">In “To” field you can choose to which group of people your mailing will be sent</p>
<img src="/images/mailing3.svg" alt="Mailing-photo"/>
<p align="justify">Write your message, enter the subject and click “Create”.</p>
</section>
<section>
<p align="justify">In “Mailings” section you can see the created mailing.</p>
<img src="/images/mailing4.svg" alt="Mailing-photo"/>
<p align="justify">Next steps:</p>
  <ul>
    <li><p align="justify">send preview - it is good to check the mailing first, using this option you will send the mailing only to yourself</p></li>
    <li><p align="justify">send preview to admins - you will send the mailing to your event admins (you and people who you have assigned as admins, check “Cooperations”)</p></li>
    <li><p align="justify">send - the mailing will be sent to the chosen group</p></li>
    <li><p align="justify">edit - if you see the mistake or you want to change something, you can always edit your mailing</p></li>
    <li><p align="justify">destroy - you can delete the created mailing, take into account that you can’t destroy the mailing that has already been sent</p></li>
  </ul>
</section>
{% endblock %}
