{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Presentations</h5>
<p align="justify">Here's a list of presentations submitted to your event in response to Call for Proposals.</p>
<img src="/images/pres4.svg" alt="Presentations-photo"/>
<p align="justify">At the beginning presentations are marked as "pending" and they wait for your action. You can then mark them as accepted, rejected or votable. You can also publish them (only after publishing they will be visible on your event page). Once marked, you can browse them in specific groups.</p>
<img src="/images/pres5.svg" alt="Presentations-photo"/>
</section>
<section>
<h5 class="title is-5">Grades</h5>
<p align="justify">Presentations can be marked with grades by organizers and reviewers (checkout out "Group Memberships" to find out more about reviewers).</p>
<img src="/images/pres3.svg" alt="Presentations-photo"/>
</section>
<section>
<h5 class="title is-5">Comments and labels</h5>
<p align="justify">You can add comments to presentations and mark them with labels. Click the presentation's name and you will get there.</p>
<p align="justify"><span class="tag is-success"><b>IMPORTANT</b></span>  <small>Labels has to be determined first in "Labels" section. Only after creating needed labels you will be able to mark presentations with them.</small></p>
<img src="/images/pres1.svg" alt="Presentations-photo"/>
</section>
<section>
<h5 class="title is-5">Slides and videos</h5>
<p align="justify">You can add slides and videos to the presentations. Choose "Upload slides" and you will get there.</p>
<p align="justify"><span class="tag is-success"><b>VIDEOS</b></span>  <small>You can add a video from YouTube or Vimeo.</small></p>
<p align="justify"><span class="tag is-success"><b>SLIDES</b></span>  <small>You can add a pdf file or enter a link to html version of slides.</small></p>
<img src="/images/pres2.svg" alt="Presentations-photo"/>
</section>
<section>
<p align="justify">Using an option "Download xls", you can download a file with presentations information in a xls format.</p>
<img src="/images/xls.svg" alt="XLS-photo"/>
</section>
{% endblock %}
