{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Event Sponsors</h5>
<p align="justify">Activate Sponsors to display sponsors on the page of your Event.</p>
</section>
<section>
<h5 class="title is-5">How to add a sponsor?</h5>
Go to "Sponsors" section.
<img src="/images/sponsors1.svg" alt="Sponsors-photo" />
Click "Add sponsor".
<img src="/images/sponsors2.svg" alt="Sponsors-photo" />
  You can choose your sponsor from a list of organizations or create a new one if it is missing on the list. Just prepare company name, logo and website and send it to Eventil team at <a href="mailto:hello@eventil.com">hello@eventil.com.</a></p>
</section>
{% endblock %}
