{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Tickets</h5>
<p align="justify">You can create and sell tickets for your event using Eventil.</p>
</section>
<section>
<h5 class="title is-5">How to create tickets?</h5>
<p align="justify">Go to your event management page and then to “Tickets” section.</p>
<img src="/images/tickets1.svg" alt="Tickets-photo"/>
<p align="justify">Here, by clicking “Add New Ticket”, you can start preparing tickets.</p>
<img src="/images/tickets2.svg" alt="Tickets-photo"/>
<p align="justify">Enter the necessary information:</p>
<ul>
<li><p align="justify">Name → Enter the name for your ticket. You can use the formula EVENT-NAME_YEAR or create whatever you like.</p></li>
<li><p align="justify">Desc → Here you can add a short description for the tickets but it’s not required.</p></li>
<li><p align="justify">When ? → It’s very important. Set the start and end date when tickets will be available.</p></li>
<li><p align="justify">How much ? → Here you can set the number of this type of tickets you want to sell. Notice that you can also open a waiting list if you wish. It allows users to sign up for future or additional sale. In case tickets are sold out or the sale has ended, there will be an additional link to "Subscribe to waiting list". But something even more important → set the maximum quantity of tickets per order. It allows to set a limit for a number of tickets which can be purchased in just one order. It's quite useful if you know the demand is high and you intend to allow more people to buy tickets.</p></li>
<li><p align="justify">Price → Your attendees can get tickets for free (price 0.00) or you can set a price for them. Remember about the VAT rate.</p></li>
</ul>
<p align="justify">Click “Create” and your tickets are ready.</p>
<p align="justify">You can add several types of tickets.</p>
<img src="/images/tickets3.svg" alt="Tickets-photo"/>
<p align="justify"><span class="tag is-success"><b>IMPORTANT</b></span>  <small>Event with paid tickets is required to have an organization with a payment gateway connected. Check "Billing" for more details.</small></p>
</section>
{% endblock %}
