{% extends "layouts/base.html" %}
{% block content %}
<section>
  <h5 class="title is-4">Connect Account Types</h5>
  <p>
    Learn more about the three kinds of Stripe accounts you can use with Connect. If you need help after reading this, search our documentation or check out answers to common questions. You can even chat live with other developers in #stripe on freenode.
  </p>
</section>

<section>
  <h5 class="title is-5">Choosing an approach<span class="tag is-success">New!</span></h5>
  <p>
    As many factors go into choosing the best type of account to use, the following table presents the most important considerations. You can support more than one account type, although that adds complexity to your integration. Note there's an additional cost for using Express or Custom accounts.
  </p>
</section>

<section>
  <p>With Connect, users of your platform can have one of three types of Stripe accounts:</p>

  <ul>
    <li><a href="/docs/connect/standard-accounts">Standard</a></li>
    <li><a href="/docs/connect/express-accounts">Express</a></li>
    <li><a href="/docs/connect/custom-accounts">Custom</a></li>
  </ul>

  <p>The documents linked in those bullets walk through using the corresponding account type in detail. However, you should first determine which type is most applicable to your use case, using the information below.</p>
  <aside class="important">
    <article class="message is-success">
      <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </article>
  </aside>

</section>

<section>
  <h5 class="title is-5">Choosing an approach<span class="tag is-success">New!</span></h5>
  <p>
    As many factors go into choosing the best type of account to use, the following table presents the most important considerations. You can support more than one account type, although that adds complexity to your integration. Note there's an additional cost for using Express or Custom accounts.
  </p>
</section>

{% endblock %}
