{% extends "layouts/base.html" %}
{% block content %}
  <h1><b>Tickets</b></h1>

  <h2><b><p align="justify">Where to find an invoice?</p></b></h2>

  <p align="justify">Once you’re logged in you have to go to the top right corner option button and choose ‘Settings’.</p>
  <img src="/images/settings.svg" alt="Settings-photo" />

  <p align="justify">Then go to the ‘Tickets’ section.</p>
  <img src="/images/tickets.svg" alt="Tickets-photo" />

  <p align="justify">If you want to see your invoice, choose ‘VIEW ORDER’. There you will find your invoice and have an option to print it.</p>
  <img src="/images/vieworder.svg" alt="View-order-photo" />

  <h2><b><p align="justify">How to transfer the ticket?</p></b></h2>

  <p align="justify">If you bought the ticket for someone not for you, you can transfer it to their account. First, please ask the person to create an account on Eventil (if they still do not have it). The ticket will be available on their Eventil account as it is available on yours. Once done, log in and go to Settings → Tickets.</p>
  <img src="/images/tickets.svg" alt="Tickets-photo" />

  <p align="justify">Choose 'SHOW TICKETS'. Then choose 'TRANSFER TICKET'. Here you have to enter the e-mail address which the person used for creating the account.</p>
  <img src="/images/transferticket.svg" alt="Transfer-ticket-photo" />

  <p align="justify">Click 'SAVE' and the ticket is transferred.</p>
  {% endblock %}
