{% extends "layouts/base.html" %}
{% block content %}
<section>
  <h5 class="title is-4">Call For Proposals</h5>

  <p align="justify">Call For Proposals settings enable event organizers to easily manage their call for proposals and talk submissions.</p>
<p align="justify">You don't have to rely on tools such as Google Forms, WuFoo Forms and other!</p>
</section>
<section>
<p align="justify">Set the start and end date and it’s done. If you want to get some extra information from potential speakers, use the Custom Fields for CFP (checkboxes, questions etc.)</p>
<p align="justify">You can find submitted proposals in Presentations part.</p>
<p align="justify">Once the CFP is ended, you can create Voting.</p>
</section>
<img src="/images/cpv.svg" alt="Callforproposals-photo"/>
{% endblock %}
