{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Speakers</h5>
<p align="justify">Here you can find speakers who submitted a talk or a workshop proposal to your event.</p>
<img src="/images/speakers.svg" alt="Speakers-photo"/>
</section>
<section>
<p align="justify">You can also browse speakers in specific groups (accepted, pending, rejected and votable) based on how their proposals were marked in "Presentations" section.</p>
<img src="/images/speakers2.svg" alt="Speakers-photo"/>
</section>
<section>
<p align="justify">Using an option "Download xls", you can download a file with speakers information in a xls format.</p>
<img src="/images/xls.svg" alt="XLS-photo"/>
{% endblock %}
