{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Create Event</h5>
</section>
<section>
<h5 class="title is-5">Basic Event Information</h5>
<p align="justify">Event Name → Enter the name of your event. Give your potential attendees quick information on what the event is about. Make it catchy to draw huge audience.</p>
<p align="justify">External Sources → Enter any extra web address for your event, webpage or group.</p>
<p align="justify">Twitter → Only handle without @ sign</p>
<p align="justify">Slug Get → the web address for your event!</p>
<p align="justify">Timing → Enter start and ending dates so the attendees know when your event takes place.</p>
</section>
<section>
<h5 class="title is-5">Type of Concerence</h5>
<p align="justify">Location Type</p>
<ul>
<li>Onsite → Enter address and place name</li>
<li>Online → No physical location required</li>
</ul>
<p align="justify">Address Details → Enter the city or more exact address for your event. Location is important for people so precise it. Enter the name of a lecture room, cafe etc. where you are going to make the event so your attendees know what to expect and what thay should bring with them.</p>
<p align="justify">Description → Write more about your event: what it is about, how long it will take place, why you organize it, who will give talks, what is the purpose of your action etc. The more you write, the more people will know about. They will feel welcome to come.</p>
</section>
<section>
<h5 class="title is-5">Detailed Information</h5>
<p align="justify">Add poster → Add a photo or picture for your event. A lot of people pay more attention to events with visual elements.</p>
<p align="justify">Topic list → Let the attendees know about your primary languages for the event.</p>
</section>
{% endblock %}
