{% extends "layouts/base.html" %}
{% block content %}
  <h1><b>EVENTIL FOR SPEAKERS</b></h1>
  <h3>GET THE MOST OUT OF YOUR TECH SPEAKING ENGAGEMENTS</h3>

<b><p align="justify">Submit proposals to events</p></b>
<p align="justify">Submit talk or workshop proposals to selected events and get notified about their acceptance status.</p>
<b><p align="justify">Build your speaker profile</p></b>
<p align="justify">Collect your speaking appearances in a single place to increase your tech expertise visibility.</p>
<b><p align="justify">Manage your availability</p></b>
<p align="justify">Manage speaking engagements requests from organisers of tech conferences & meetings around the world.</p>

<b><h2>BENEFITS</h2></b>

<b><p align="justify">SPEAKER VISIBILITY</p></b>
<p align="justify">We can create a speaker profile where you can track your involvement in various tech conferences or smaller events showcasing your technical skills at the same time </p>
<b><p align="justify">DRAFTS MANAGEMENT</p></b>
<p align="justify">We provide a centralized repository to manage drafts of your talks and workshops which can be easily submitted as proposals to tech events </p>
<b><p align="justify">REST OR GRAPHQL API</p></b>
<p align="justify">We give you a constant access to your profile data so you can easily integrate it on your own website while we take care of keeping it up-to-date</p>
<b><p align="justify">EVENT/CFP NOTIFICATIONS</p></b>
<p align="justify">We notify you about « Call for Proposals » annoucements from events related to your technical skill set so you don't need to waste time on searching them yourself </p>
<b><p align="justify">SPEAKER PROMOTION</p></b>
<p align="justify">We promote your speaker profile through our marketing channels (social media, newsletter) and we suggest your speaker profile to organisers of relevant events</p>
<b><p align="justify">CONCIERGE</p></b>
<p align="justify">We manage the history of your speaking engagements for you so it's always up-to-date with each talk information completed with abstracts, slides or links to videos, available from a single location</p>
{% endblock %}
