{% extends "layouts/base.html" %}
{% block content %}
<section>
  <h5 class="title is-4">EVENTIL FOR SPEAKERS<span class="tag is-success">Get extra benefits!</span></h5>
  <h3>GET THE MOST OUT OF YOUR TECH SPEAKING ENGAGEMENTS</h3>
</section>
<section>
<h5 class="title is-5">Submit proposals to events</h5>
<p align="justify">Submit talk or workshop proposals to selected events and get notified about their acceptance status.</p>
</section>
<section>
<h5 class="title is-5">Build your speaker profile</h5>
<p align="justify">Collect your speaking appearances in a single place to increase your tech expertise visibility.</p>
</section>
<section>
<h5 class="title is-5">Manage your availability</h5>
<p align="justify">Manage speaking engagements requests from organisers of tech conferences & meetings around the world.</p>
</section>
<section>
<h5 class="title is-4">BENEFITS</h5>
</section>
<section>
<h5 class="title is-5">SPEAKER VISIBILITY</h5>
<p align="justify">We can create a speaker profile where you can track your involvement in various tech conferences or smaller events showcasing your technical skills at the same time </p>
</section>
<section>
<h5 class="title is-5">DRAFTS MANAGEMENT</h5>
<p align="justify">We provide a centralized repository to manage drafts of your talks and workshops which can be easily submitted as proposals to tech events </p>
</section>
<section>
<h5 class="title is-5">REST OR GRAPHQL API</h5>
<p align="justify">We give you a constant access to your profile data so you can easily integrate it on your own website while we take care of keeping it up-to-date</p>
</section>
<section>
<h5 class="title is-5">EVENT/CFP NOTIFICATIONS</h5>
<p align="justify">We notify you about « Call for Proposals » annoucements from events related to your technical skill set so you don't need to waste time on searching them yourself </p>
</section>
<section>
<h5 class="title is-5">SPEAKER PROMOTION</h5>
<p align="justify">We promote your speaker profile through our marketing channels (social media, newsletter) and we suggest your speaker profile to organisers of relevant events</p>
</section>
<section>
<h5 class="title is-5">CONCIERGE</h5>
<p align="justify">We manage the history of your speaking engagements for you so it's always up-to-date with each talk information completed with abstracts, slides or links to videos, available from a single location</p>
{% endblock %}
