{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Billing</h5>
<p align="justify">Here you can see Billing Overview and Payment History.</p>
<img src="/images/psbilling.svg" alt="Billing-photo"/>
</section>
<section>
<h5 class="title is-5">Billing Overview</h5>
<p align="justify">Here you can see what your speaker plan is. You can also upgrade it here by clicking "Upgrade to get more features".</p>
<img src="/images/upgrade.svg" alt="Upgrade-photo"/>
<p align="justify">Choose the plan you are interested in and provide your credit card details. The appropriate amount will be charged every month.</p>
<p align="justify">To find out more about speaker plans check <a target="_blank" href="https://eventil.com/for/speakers">Eventil for Speakers.</a></p>
</section>
<section>
<h5 class="title is-5">Payment History</h5>
<p align="justify">In this part you can see your payments for tickets bought on Eventil.</p>
{% endblock %}
