{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Import presentations from Lanyrd</h5>
<p align="justify">You can synchronize your Eventil profile with Lanyrd.</p>
<p align="justify"><span class="tag is-success"><b>IMPORTANT!</b></span>  <small>You don’t have to enter everything from scratch into Eventil.</small></p>
</section>
<section>
<h5 class="title is-5">How to import one's profile from Lanyrd?</h5>
<p align="justify">In “Settings” go to “Import presentations from Lanyrd” section.</p>
<img src="/images/lanyrd.svg" alt="Lanyrd-photo"/>
<p align="justify">Enter your Lanyrd handle and click “Import Presentations”. And that’s all from your side. We take care of the rest. We will inform you via email once your import is ready.</p>
{% endblock %}
