{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Presentations</h5>
<p align="justify">Here is a list of all your presentations submitted to various conferences along with their statuses.</p>
<img src="/images/presentations1.svg" alt="Presentations-photo"/>
</section>
<section>
<h5 class="title is-5">What does each colour along presentations mean?</h5>
<ul>
  <li> Green - your presentation has been accepted.</li>
  <li> Yellow - your presentation is pending. It is waiting for an action. It may be accepted or rejected.</li>
  <li> Red - your presentation has been rejected.</li>
</section>
<section>
<h5 class="title is-5">How to add a new presentation?</h5>
<p align="justify">Click “Add Presentation”.</p>
<img src="/images/addpresentation.svg" alt="Add-presentation-photo"/>
<p align="justify">Start entering necessary information.</p>
<img src="/images/presentations2.svg" alt="Presentations-photo"/>
<p align="justify"><b>Step 1: Event Name</b></p>
<p align="justify">In “Event Name” you can look for the event you spoke at. Auto-complete option will help you to find a suitable event. But if it’s not on the list, you can type the name on your own.</p>
<p align="justify"><b>Step 2: Kind</b></p>
<p align="justify">You can choose what kind of presentation it is. You have 4 options here: talk, workshop, keynote and lightning.</p>
<p align="justify"><b>Step 3: Title and Abstract</b></p>
<p align="justify">Enter the presentation’s name and provide a short abstract.</p>
<p align="justify"><b>Step 4: Video</b></p>
<p align="justify">If your presentation is available on YouTube, you can paste a video id here as well.</p>
<p align="justify"><b>Step 5: Create</b></p>
<p align="justify">Click “Create” and it’s ready.</p>
<p align="justify"><span class="tag is-success"><b>IMPORTANT!</b></span>  <small>After adding a presentation it will be visible on your profile only for you. Next to it you will see what its status is - pending, rejected or accepted, and if it's already published or not. Only after accepting and publishing your presentation by an event organiser or Eventil staff it will be visible to the public.</small></p>
{% endblock %}
