{% extends "layouts/base.html" %}
{% block content %}
<section>
<h5 class="title is-4">Publications</h5>
<p align="justify">Here is a list of all your added publications.</p>
<img src="/images/publications1.svg" alt="Publications-photo"/>
</section>
<section>
<h5 class="title is-5">How to add a new publication?</h5>
<p align="justify">Click “Add Publication” and start entering necessary information.</p>
<img src="/images/publications2.svg" alt="Publications-photo"/>
<p align="justify"><b>Step 1: Title of publication</b></p>
<p align="justify">Type in the title of your publication.</p>
<p align="justify"><b>Step 2: Abstract</b></p>
<p align="justify">To give users more information about your publication, you can enter its abstract. It is not required but it's good to give people a general look on what your work is about.</p>
<p align="justify"><b>Step 3: Source of publication</b></p>
<p align="justify">Provide a source of your publication.</p>
<p align="justify"><b>Step 4: URL</b></p>
<p align="justify">In URL field you can add a link to your publication on the web.</p>
<p align="justify"><b>Step 4: Published on</b></p>
<p align="justify">Tell people when it was published.</p>
<p align="justify"><b>Step 5: Topics</b></p>
<p align="justify">Choose the topic of your publication. It’s not required but it’s useful. Many people browse publications by topics they are interested in. By choosing the topic, you may get to a bigger audience. You can choose more than one topic.</p>
<p align="justify"><b>Step 6: Create</b></p>
<p align="justify">Click “Create” and it’s done.</p>
</section>
{% endblock %}
