<aside class="sidebar">
  <div class="d-flex justify-content-end">
    <div class="sidebar-inner pt-3">
      <img src="/images/logo.svg" alt="" class="img-fluid">
      <ul class="menu-list list-unstyled">
        <li class="toggle accordion-toggle">
          <a href="#">Events</a>
        </li>
        <ul class="menu-submenu accordion-content d-none">
          <li><a class="head" href="/create/">Create Event</a></li>
          <li><a class="head" href="#">Event Management</a></li>
          <li><a class="toggle accordion-toggle" href="#">Settings</a>
            <ul>
              <li>
                <ul class="menu-submenu accordion-content d-none">
                  <a class="head" href="#">Main Settings<a/>
                  <li>Edit Event</li>
                  <li><a class="head" href="/events/event-managment/main-settings/cooperations/">Cooperations</a></li>
                  <li>Sponsors</li>
                  <li>Mailings</li>
                  <li>Agenda</li>
                </ul>
            </li>
            <li>
              <ul>
                <a class="head" href="#">Speaker Related Settings</a>
                <li>Call for Proposals</li>
                <li>Presentations</li>
                <li>Voting</li>
              </ul>
            </li>
            <li>
              <ul>
                <a class="head" href="#">Attendee Related Settings</a>
                <li>Billing</li>
                <li>Tickets</li>
                <li>Orders</li>
                <li>Custom Fields for Orders</li>
                <li>Attendees</li>
                <li>Reviews</li>
              </ul>
            </li>
        </ul>
      </li>

      </ul>
        <li class="toggle accordion-toggle">
          <a class="toggle accordion-toggle" href="#">User Page</a>
        </li>
        <ul class="menu-submenu accordion-content d-none">
          <li><a class="head" href="#">Presentations</a></li>
          <li><a class="head" href="#">Publications</a></li>
          <li><a class="head" href="#">Events</a></li>
        </ul>
        <li class="toggle accordion-toggle">
          <a class="toggle accordion-toggle" href="#">User Settings</a>
        </li>
        <ul class="menu-submenu accordion-content d-none">
          <li>
            <a class="head" href="#">Personal Settings</a>
            <li>
              <ul>
                <li>Profile</li>
                <li>Email Settings</li>
              </ul>
            </li>
          </li>
          <li><a class="head" href="#">Attendee Settings</a>
            <li>
              <ul>
                <li>Tickets</li>
                <li>Group Memberships</li>
                <li>Favourite Events</li>
              </ul>
            </li>
          </li>
          <li><a class="head" href="#">Speaker Settings</a>
            <li>
              <ul>
                <li>Presentations</li>
                <li>Publications</li>
                <li>Billing</li>
                <li>Access token</li>
                <li>Import presentations from Lanyrd</li>
              </ul>
            </li>
          </li>
          <li><a class="head" href="#">Organizer Settings</a>
            <li>
              <ul>
                <li>Your Groups</li>
                <li>Your Events</li>
                <li>Your Organizations</li>
              </ul>
            </li>
          </li>
        </ul>
          <li class="toggle accordion-toggle">
            <a class="toggle accordion-toggle" href="#">Features</a>
          </li>
          <ul class="menu-submenu accordion-content d-none">
            <li><a class="head" href="#">Badges & Lanyards</a></li>
            <li><a class="head" href="#">Eventil for Speakers</a></li>
          </ul>
      </ul>
    </div>
  </div>
</aside>
