<aside class="sidebar">
  <div class="d-flex justify-content-end">
    <div class="sidebar-inner pt-3">
      <a href="/">
        <img src="/images/logo.svg" alt="" class="img-fluid">
      </a>
      <ul class="menu-list list-unstyled">
        <li class="toggle accordion-toggle">
          <a class="toggle accordion-toggle" href="#"><img src="/images/icon-calendar.svg" alt="">Events</a>
        </li>
        <ul class="menu-submenu accordion-content d-none">
          <li><a class="head" href="/event/create-event/">Create Event</a></li>
          <li><a class="head" href="/event/management/edit/">Edit Event</a></li>
          <li><a class="head" href="/event/management/cooperations/">Cooperations</a></li>
          <li><a class="head" href="/event/management/sponsors/">Sponsors</a></li>
          <li><a class="head" href="/event/management/mailings/">Mailings</a></li>
          <li><a class="head" href="/event/management/agenda/">Agenda</a></li>
          <li><a class="head" href="/event/management/call-for-proposal/">Call for Proposals</a></li>
          <li><a class="head" href="/event/management/presentations/">Presentations</a></li>
          <li><a class="head" href="/event/management/speakers/">Speakers</a></li>
          <li><a class="head" href="/event/management/labels/">Labels</a></li>
          <li><a class="head" href="/event/management/voting/">Voting</a></li>
          <li><a class="head" href="/event/management/billing/">Billing</a></li>
          <li><a class="head" href="/event/management/tickets/">Tickets</a></li>
          <li><a class="head" href="/event/management/orders/">Orders</a></li>
          <li><a class="head" href="/event/management/custom-fields-for-order/">Custom Fields for Order</a></li>
          <li><a class="head" href="/event/management/attendees/">Attendees</a></li>
          <li><a class="head" href="/event/management/reviews/">Reviews</a></li>
        </ul>
        <li class="toggle accordion-toggle">
          <a class="toggle accordion-toggle" href="#">
            <img src="/images/icon-user.svg" alt="">User
          </a>
        </li>
        <ul class="menu-submenu accordion-content d-none">
          <li><a class="head" href="/user/profile/">Profile</a></li>
          <li><a class="head" href="/user/account/">Account</a></li>
          <li><a class="head" href="/user/email-settings/">Email Settings</a></li>
          <li><a class="head" href="/user/tickets/">Tickets</a></li>
          <li><a class="head" href="/user/group-memberships/">Group Memberships</a></li>
          <li><a class="head" href="/user/favourite-events/">Favourite Events</a></li>
          <li><a class="head" href="/user/presentations/">Presentations</a></li>
          <li><a class="head" href="/user/publications/">Publications</a></li>
          <li><a class="head" href="/user/billing/">Billing</a></li>
          <li><a class="head" href="/user/access-token/">Access token</a></li>
          <li><a class="head" href="/user/lanyrd-import/">Import presentations from Lanyrd</a></li>
          <li><a class="head" href="/user/groups/">Your Groups</a></li>
          <li><a class="head" href="/user/events/">Your Events</a></li>
          <li><a class="head" href="/user/organizations/">Your Organizations</a></li>
        </ul>

        <li class="toggle accordion-toggle">
          <a class="toggle accordion-toggle" href="#"><img src="/images/icon-box.svg" alt="">Features</a>
        </li>
        <ul class="menu-submenu accordion-content d-none">
          <li><a class="head" href="/features/badges-lanyards/">Badges & Lanyards</a></li>
          <li><a class="head" href="/features/for-speakers/">Eventil for Speakers</a></li>
        </ul>
      </ul>
    </div>
  </div>
</aside>
